{% extends 'base.html.twig' %}
{% block main %}

<h3>{{ video.title }}</h3>
<div align="center" class="embed-responsive embed-responsive-16by9">
    <iframe class="" src="{{ video.vimeoid(app.user) }}" frameboarder="0" allowfullscreen></iframe>
</div>

<hr>

<div class="row m-2">
    <a href="#" id="video_comments"></a>
    {% for comment in video.comments %}


    <ul class="list-unstyled text-left">
      <li class="media">
          <img src="{{ asset('build/img/user.jpg') }}" class="mr-3">
          <div class="media-body">
              <h5><b>{{ comment.user.name}} {{ comment.user.lastname}}</b><small class="text-muted">added a comment<small><b>{{ comment.createdat|ago }} days ago</b></small></small></h5>
                {{ comment.content }}
          </div>
      </li>
    </ul>

<hr>
{% endfor %}

</div>

<div class="row">
    <div class="col-md-12">
        <form action="#video_details" method="post">
            <div class="form-group">
                <label for="addtextarea1">Add a text</label>
                <textarea required class="form-control" id="addtextarea1" name="name" rows="8" cols="80"></textarea>
            </div>
            <button type="button" name="button" class="btn btn-primary">Add</button>
        </form>
    </div>
</div>


{% endblock %}
