<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
        <link rel="stylesheet" href="{{ asset('build/app.css') }}" />
        <script src="{{ asset('build/app.js') }}"></script>
        {% block customstylesheets %}{% endblock %}
        <title>{% block title %}Welcome!{% endblock %}</title>
    </head>
    <body class="text-center">
        <div class="container-fluid">
      {% block menu %}
  <div class="nav d-flex flex-row justify-content-between  align-items-center">
    <div class="mainD d-flex flex-row justify-content-center  align-items-center">
        <h5><a href="{{ path('main_page') }}">Awesome Videos</a></h5>
        <form class="form-inline my-2 my-lg-0" action="{{ path('search_results') }}" method="post">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
    <nav class="">
      <ul class="navbar-nav mr-auto d-flex flex-row justify-content-center align-items-center">
        <li class="nav-item active">
          <a class="nav-link" href="{{ path('video_list') }}">Funny <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('video_list') }}">Scary</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="{{ path('video_list') }}">
            Unbelievable
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('video_list') }}">Unbelievable</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('video_list') }}">Inspirating</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('video_list') }}">Motivating</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('video_list') }}">MyAccount</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="{{ path('pricing') }}">
            Sign In
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sign Out
          </a>
          </div>
        </li>
      </ul>

      </nav>
    </div>
    {% endblock %}
    {% block main %}{% endblock %}
    {% block footer_links %}
      <div class="col-6 col-md d-flex flex-row justify-content-between align-items-center">
          <h5>About</h5>
          <ul class="list-unstyled text-small d-flex flex-row justify-content-center align-items-center">
              <li><a href="#">Team</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="#">Jobs</a></li>
              <li><a href="#">Partners</a></li>
              <li><a href="#">Terms</a></li>
          </ul>
      </div>
    {% endblock %}
        </div>
        <script>
    
        </script>
      {% block customjavascripts %}
    {% endblock %}
    </body>
</html>
